.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left >svg {
    cursor: pointer;
    transition: color .3s;
}

.left >svg:hover {
    color: var(--blue-500);
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left >div select {
    margin-left: 8px;
}