.wrapper {
    background: var(--gray-300);
    width: 100%;
    height: 100px;
    display: flex; 
    padding: 15px;
    align-items: center;   
}

.header {
    display: flex;        
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;    
}

.headerHome {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.header >div {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

div >a {
    font-size: 1.5rem;
    line-height: 1.6;
    text-decoration: none;
    color: var(--white);
    font-size: .875rem;
    transition: color .3s;
}

.headerHome >a {
    font-size: 3rem;
}

.active {
    color: var(--blue-500);
}

div >a:not(.active):hover {
    color: var(--purple-500);
}

.header >.open {
    display: none;
}

.navbar {
    display: none;
}

@media (max-width: 720px) {
    .headerHome >a {
        font-size: 2rem;
    }

    .headerHome {
        gap: 40px;
    }

    .navbar {
        display: block;
    }

    .navbar button {
        border: 0;
        background: transparent;
    }

    .header >div {
        visibility: hidden;
    }

    .header >.open {
        display: flex;
        visibility: visible;
        flex-direction: column;
        margin-top: 170px;
        align-items: center;
        background: var(--gray-300);
        position: relative;
        z-index:1;
    }

    .header >.open a {
        font-size: 1.5rem;
    }
}